

.inner {
    margin: 10px;
    padding: 10px;
    border: 2px solid lightcoral;
    background-color: bisque;
    height: 200px;
}
.box1{
    background-color: rgb(163, 203, 190);
}

.box2{
    background-color: rgb(221, 127, 93);
}


.container {
    /* display: flex ;  */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
}

